VITE_SUPABASE_URL=https://zvmnpmehjacyzxeenjdz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bW5wbWVoamFjeXp4ZWVuamR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyOTE3MDcsImV4cCI6MjA5Njg2NzcwN30.ckTiEVHlvNIX9_J4_of-NzzVEctCJnFCgg03BM0G674
